body{
    padding: 0px;
    margin: 0px;
    
    
}
.body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
    
}
.copyright{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: gray;
    margin: 0;
    padding: 10px;
}
.head{
    display: flex;
    
   
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937;

  
}
.top{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    margin: 0px  100px;
    
    color: #F9FAF8;
   
}
.bottom{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    
}
.img-01{
    height:auto;
    width:300px;
}
.bottom-01{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
}
.text-info{
    font-size: 48px ;
    color:#F9FAF8;
    flex-wrap: wrap;
}
.sign-up-button{
    background-color: #3882F6;  
    border: medium;
    width: fit-content;
    font-size:large;
    border-radius: 30%;
    color: #e5e7eb;
}
ul{
    display: flex;
    
   
    list-style-type: none;
    list-style: none;
}
li{
    padding: 10px;
}
.header-logo{
    display: flex;
    font-size: 24px;
}
.links{
    display: flex;
    font-size: 18px;
    
}
.illustration{
    border-radius: 15%;
    border: 3px solid #3882F6;
    padding:50px;

}
.images{
    display: flex;
    justify-content: center;
}
.random{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.middle-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.middle-2{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote{
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    
   
}
.quote-text{
    margin: 50px;
    margin-left: 600px;
    margin-right: 600px;
}
.credit{
    text-align: end;
}
.info-head{
    font-size: 24px;
    font-weight: bolder;
    
}
.footer{
    display: flex;
    
    padding: 25px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
    
}
.footer-01{
    display: flex;
    background-color: #3882F6;
   align-content: center;
   align-items: center;
    justify-content: space-around;
    width: 800px;
    height: auto;
}
.action-text{
    text-align: start;
    padding: 0px;
}
.sign-up-button.button-02{
    border:3px solid #F9FAF8;
    width: fit-content;
    height: fit-content;
    
}